body {
	font-size: 16px;
	background: url("../assets/parisianpioneerbackground.gif");
	background-color: #ffffff;
	background-size: cover; 
	border-top-width: 150;
	background-repeat: no-repeat;
	/*max-height: 50;*/
}

nav {
	font-weight: 800;
}

section {
	width: 500px;
	background: #000000;
	padding: 20px;
	margin: 0 auto;
	height: 200px;
}

h1 {
	font-size: 24px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

#logo {
	margin: 0 auto;
	width: 750px;
}