body {
	font-size: 16px;
	background: url("../assets/parisianpioneerbackground.gif");
	background-color: #ffffff;
	background-size: cover; 
	background-repeat: no-repeat;
}

nav {
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-align: center;
	padding: 25px;
}

li {
	padding: 5;
	float: center;
	list-style-type: none;

}

section {
	width: 500px;
	background: #000000;
	padding: 20px;
	margin: 0 auto;
	height: 200px;
}

h1 {
	font-size: 16px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

#logo {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	background-color:#ffffff;
	padding-top: 20px;
	padding-bottom: 10px;
}